@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

/**********************Header********************/
header {
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    box-shadow: 0px 2px 2px #ccc;
}

header .contenedor {
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-between;
    height: 65px;
}

.title {
    display: flex;
    align-items: center;
}

.title .logo {
    max-width: 40px;
    max-height: 100%;
    padding: 5px;
}

.pre-header {    
    width: 100%;
    height: 35px;
    background-color: #0e6eb8;
}

.contact {
    width: 98%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail {
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

.fa-envelope {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif
}

.fa-envelope:before {
    position: relative;
    top: 2px;
    left: -6px;
}

.sociales a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    transition: all 0.3s;
}

.sociales a:hover {
    color: #7f7d8e;
/*    color: #ccc;*/
}

.menu-container .fa-bars {
    color: #0e6eb8;
    border: solid 1px #0e6eb8;
    border-radius: 5px;
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: relative;
    top: 13px;
}

.menu {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: #0e6eb8;
    transition: all 0.7s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 20px;
    padding: 14px;
}

.title h1 {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    font-size: 24px;
    display: flex;
    position: relative;
    font-family: 'Gabriela', serif;
    font-style: italic;
    color: #0e6eb8;
    left: -10px;
}

#btn-menu {
    display: none;
}


#btn-menu:checked ~ .menu {
    transform: translateX(0%);
}


@media (min-width:1000px) {
    header .contenedor {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sociales {
        max-width: 1200px;
    }
    
    .sociales .fa-twitter {
        margin-left: 23px;
    }
    
    .sociales .fa-instagram {
        margin-left: 23px;
    }
    
    .sociales .fa-youtube {
        margin-left: 23px;
    }
    .mail {
        display: block;
    }
    
    .contact {
        color: #fff;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .menu-container .menu {
        transform: translateX(0%);
        height: auto;
        width: auto;
        position: static;
        display: flex;
        background-color: #fff;
        align-items: center;
    }
    
    .menu a {
        border: none;
        color: #0e6eb8;
        transition: all 0.2s linear;
        height: auto;
        padding: 14px 0px;
        margin-left: 25px;
    }
    
    .menu a::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(14, 110, 184, 0.8);
        transition: all 0.2s linear;
        opacity: 0;
    }
    
    .menu a:hover::after {
        opacity: 1;
    }
    
    .menu a:hover {
        transform: scale(1.1);
    }
    
    .menu-container .fa-bars {
        display: none;
    }
}

/***********************Main******************/

main {
    background: #fff;
    width: 100%;
}

/************************Banner**********************/

.banner {
    margin-top: 100px;
}
.banner .primario {
    width: 100%;
    height: 337px;
    object-fit: cover;
    object-position: -90px 35px;
    display: block;
}

.banner .secundario {
    display: none;
    max-width: 100%;
}

@media (min-width:1000px) {
    .banner .secundario {
        display: table;
    }
    
    .banner .primario {
        display: none;
    }
}

/***********************Welcome******************/

.welcome {
    width: 100%;
    background-color:#fff;
/*    background-color: #f4f5ff;*/
}

.welcome > .contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.image-welcome {
    width: 50%;
    max-width: 550px;
    padding: 20px 0px;
}

.welcome-entrada {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 50%;
    max-width: 550px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.welcome h2 {
    text-align: center;
    color: #0e6eb8;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Gabriela', serif; 
    font-style: italic;
}

.welcome-entrada p {
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    margin: 0;
}

.welcome-entrada .mas {
    text-decoration: none;
    color: #0e6eb8;
    padding: 10px;
    font-size: 20px;
    border: solid 1px #0e6eb8;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s;
    margin: 0;
}

.welcome-entrada .mas:hover {
    color: #fff;
    background-color: #0e6eb8;
}

@media (max-width:500px) {
    .welcome .image-welcome {
        width: 100%;
        margin: 0px;
        padding: 10px;
        box-sizing: border-box;
    }

    .welcome .welcome-entrada {
        width: 100%;
        margin: 0px;
    }
    
    .welcome-entrada p {
        padding: 0;
        margin: 10px;
        margin-bottom: 20px;
    }
}

/******************Features********************/

.features {
    width: 100%;
    background-color: rgba(52, 60, 69, 0.06)
}

.features .contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.features img {
    height: 280px;
    width: 280px;
    z-index: 50;
    object-fit: cover;
    display: block;
}

.features img:hover ~ h5 {
    transform: translateY(-10px);
}

.features-item {
    position: relative;
    overflow: hidden;
}

.features h5 {
    width: 100%;
    height: 30px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 100;
    top: 67%;
    left: -13px;
    background: rgba(14, 110, 183, 0.7);
    padding: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.3s;
}

@media (max-width:500px) {
    .features img {
        width: 100%;
    }

    .features-item {
        margin: 10px;
        overflow: hidden;
    }
}

/************************Catalog***********************/

.catalog {
    width: 100%;
}

.catalog .contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog img {
    max-width: 150px;
    margin: 15px 0px;
    height: 360px;
    transition: all 0.2s;
}

.catalog img:hover {
    transform: scale(1.1);
}

.catalog-item {
    max-width: 280px;
    text-align: center;
    box-shadow: 1px 1px 1px #333, -1px -1px -1px #333;
}

.catalog h5 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.catalog-item p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: crimson;
    font-size: 18px;
    margin: 0;
}

.catalog .first {
    font-size: 14px;
    color: #000;
    text-decoration: line-through;
}

.catalog .contenedor2 {
    max-width: 1200px;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    margin: auto;
    align-items: center;
}

.catalog .tienda {
    text-decoration: none;
    color: #0e6eb8;
    padding: 10px;
    font-size: 20px;
    border: solid 1px #0e6eb8;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s;
}

.tienda:hover {
    color: #fff;
    background-color: #0e6eb8;
}

@media (max-width:500px) {
    .catalog-item {
        width: 100%;
        padding: 0px 30px;
    }
}

/***************************Offer***************/

.offer {
    margin-top: 0px;
    width: 100%;
    background-color: rgba(52, 60, 69, 0.06);
    font-family: 'Lato', sans-serif;
}

.offer .contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.offer .offer-img {
    width: 100%;
    max-width: 500px;
}

.offer-description {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.offer-description p {
    text-align: justify;
}

.offer-description h3 {
    color: #fff;
    font-size: 25px;
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    animation-name: offer;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes offer {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.offer .tienda {
    text-decoration: none;
    color: #0e6eb8;
    padding: 10px;
    font-size: 20px;
    border: solid 1px #0e6eb8;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s;
}

.offer .tienda:hover {
    color: #fff;
    background-color: #0e6eb8;
}

@media (max-width:500px) {
    
    .offer .offer-img {
        width: 100%;
    }
    
    .offer .offer-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/********************Gallery*******************/

.gallery {
    width: 100%;
}

.gallery .contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery img {
    width: 280px;
    height: 280px;
    padding: 10px;
    object-fit: cover;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.gallery :nth-child(1) {
    object-position: -110px;
}

@media (max-width:500px) {
    .gallery img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/*********************Footer*******************/

footer {
    margin-top: 20px;
    width: 100%;
    background-color: #333;
    color: #f8faf9;
    font-family: 'Lato', sans-serif;
}

footer .container-all {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer [class*="column"] {
    width: 28%;
    margin: 30px 0px;
}

footer h4 {
    font-size: 20px;
}

.column1 p {
    max-width: 90%;
}

.column1 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 90%;
    height: 2px;
    background-color: #0e6eb8;
    display: block;
}

.column2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column2 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 90%;
    height: 2px;
    background-color: #0e6eb8;
    display: block;
}

.column2 li {
    margin-bottom: 10px;
}

.column2 a {
    color: #f8faf9;
    text-decoration: none;
}

.column3 {
    display: flex;
    flex-direction: column;
}

.column3 a {
    color: #f8faf9;
    text-decoration: none;    
    margin-right: 10px;
    padding: 10px;
    position: relative;
    left: -10px;
}

.column3 a:hover {
    /* color: #7f7d8e; */
    color: #0e6eb8;
}

.column3 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 90%;
    height: 2px;
    background-color:#0e6eb8;
    display: block;
}

.column3 .fa-envelope {
    font-size: 17px;
    color: #f8faf9;
    position: relative;
    left: 5px;
    margin-bottom: 18px;
}

.column3 .fa-whatsapp {
    margin-left: 5px;
}

.column3 .fa-whatsapp::before {
    position: relative;
    left: -5px;
}

.column3 h5 {
    font-size: 16px;
    padding: 0px;
    margin: 15px 0px 10px 0px;
}

@media (max-width:500px) {
    footer [class*="column"] {
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
    }
}

/*******************copyright************/

.copyright {
    width: 100%;
    background-color: #222;
}

.copyright .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signature2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.signature2 a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

@media (max-width:500px) {
    .copyright [class*="signature"] {
        width: 100%;
        text-align: center;
    }

    .copyright .signature1 {
        margin: 0px;
    }

    .copyrigth p {
        margin: 0px;
        padding: 0px;
    }

    .copyright .signature2 {
        justify-content: center;
        padding-bottom: 10px;
    }
}

/****************Globos*****************/
.globos .fa-whatsapp {
    font-size: 33px;
    color: #fff;
    background: #4AC959;
    text-decoration: none;
    padding: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: 5%;
    transition: all 0.5s;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 1px 1px;
    z-index: 500;
}    

.globos {
    display: none;
}

.globos .fa-whatsapp:hover {
    transform: scale(1.1);
}

@media (max-width:500px) {
    #fb-root {
        display: none;
    }
    
    .globos {
        display: block;
    }
}