@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

/**********************Header********************/
header {
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    box-shadow: 0px 2px 2px #ccc;
}

header .contenedor {
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-between;
    height: 65px;
}

.title {
    display: flex;
    align-items: center;
}

.title .logo {
    max-width: 40px;
    max-height: 100%;
    padding: 5px;
}

.pre-header {    
    width: 100%;
    height: 35px;
    background-color: #0e6eb8;
}

.contact {
    width: 98%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail {
    display: none;
}

.fa-envelope {
    font-size: 20px;
    font-family: 'Lato', sans-serif
}

.fa-envelope:before {
    position: relative;
    top: 2px;
    left: -6px;
}

.sociales a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    transition: all 0.3s;
}

.sociales a:hover {
    color: #7f7d8e;
/*    color: #ccc;*/
}

.menu-container .fa-bars {
    color: #0e6eb8;
    border: solid 1px #0e6eb8;
    border-radius: 5px;
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: relative;
    top: 13px;
}

.menu {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: #0e6eb8;
    transition: all 0.7s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    height: 20px;
    font-weight: bold;
    font-size: 18px;
    padding: 14px;
}

.title h1 {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    font-size: 24px;
    display: flex;
    position: relative;
    font-family: 'Gabriela', serif;
    font-style: italic;
    color: #0e6eb8;
    left: -10px;
}

#btn-menu {
    display: none;
}


#btn-menu:checked ~ .menu {
    transform: translateX(0%);
}


@media (min-width:1000px) {
    header .contenedor {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sociales {
        max-width: 1200px;
    }
    
    .sociales .fa-twitter {
        margin-left: 23px;
    }
    
    .sociales .fa-instagram {
        margin-left: 23px;
    }
    
    .sociales .fa-youtube {
        margin-left: 23px;
    }
    .mail {
        display: block;
    }
    
    .contact {
        color: #fff;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .menu-container .menu {
        transform: translateX(0%);
        height: auto;
        width: auto;
        position: static;
        display: flex;
        background-color: #fff;
        align-items: center;
    }
    
    .menu a {
        border: none;
        color: #0e6eb8;
        transition: all 0.2s linear;
        height: auto;
        padding: 14px 0px;
        margin-left: 25px;
    }
    
    .menu a::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(14, 110, 184, 0.8);
        transition: all 0.2s linear;
        opacity: 0;
    }
    
    .menu a:hover::after {
        opacity: 1;
    }
    
    .menu a:hover {
        transform: scale(1.1);
    }
    
    .menu-container .fa-bars {
        display: none;
    }
}
/***********************Main******************/
main {
    background-color: #fff;
    width: 100%;
    margin-top: 100px;
}

.information p {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px;
}

.icon img {
    max-height: 70px;
}

.store {
    width: 100%;
}

.store .contenedor {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.store-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    border-top: solid 0.5px #ccc;
    border-right: solid 0.5px #ccc;
    border-left: solid 0.5px #ccc;
    box-sizing: border-box;
}

.store-item:nth-child(6) {
    border-bottom: solid 0.5px #ccc;
}

.store-item ul {
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.store-item .model {
    width: 50%;
    display: flex;
    justify-content: center;
}

.store-description {
    width: 50%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: solid 0.5px #ccc;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px auto;
}

.store-description h4 {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #0e6eb8;
    font-size: 19px;
}

.store-description p {
    padding: 0px 30px;
    margin: 0px;
}

.store-description h2 {
    margin: 0px;
    font-size: 30px;
    color: #0e6eb8;
}

.model > img {
    height: 400px;
    margin: auto;
    max-width: 50%;
}

.gallery {
    max-width: 50%;
    margin: 10px auto;
}

.gallery img {
    height: 80px;
    display: block;
    box-sizing: border-box;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 1px #ccc, -0px -0px 5px 1px #ccc;
}

.modal {
    display: none;
}

.modal:target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 200;
    display: block;
}

.modal a {
    color: #fff;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 28px;
}

.modal h3 {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 100px; 
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
}

.imagen img {
    width: 700px;
    height: 100%;
    max-width: 100%;
}

.fa-times-circle {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 10px;
}

.store .pay {
    margin-top: 15px;
    transition: all 0.2s;
}

.store .pay:hover {
    transform: scale(1.1);
}

.information-2 p {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width:500px) {
    .store-item {
        flex-wrap: wrap;
        padding: 10px;
        border-right: none;
        border-left: none;
    }    
    
    .store-item .model {
        width: 100%;
    }
    
    .store-item .store-description {
        width: 100%;
        border-left: none;
        padding: 20px 0px;
        height: auto;
    }
    
    .store-description p,
    .store-description h4, 
    .store-description ul {
        margin-top: 14px;
    }

    .modal a {
        margin: 0px 2px;
    }
    
    .imagen a:nth-child(2) {
        margin: 2px; 
    }

    .information p {
        padding: 15px;
        margin: 0px;
    }

    .information img {
        max-height: 35px;
    }

    .information-2 p {
        padding: 0px 20px;
    }
}

/*********************Footer*******************/

footer {
    width: 100%;
    background-color: #333;
    color: #f8faf9;
    font-family: 'Lato', sans-serif;
}

footer .container-all {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer [class*="column"] {
    width: 27%;
    margin: 30px 0px;
}

footer h4 {
    font-size: 20px;
}

.column1 p {
    max-width: 90%;
}

.column1 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color: #0e6eb8;
    display: block;
}

.column2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column2 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color: #0e6eb8;
    display: block;
}

.column2 li {
    margin-bottom: 10px;
}

.column2 a {
    color: #f8faf9;
    text-decoration: none;
    font-size: 18px;
}

.column3 {
    display: flex;
    flex-direction: column;
}

.column3 a {
    color: #f8faf9;
    text-decoration: none;    
    margin-right: 10px;
    padding: 10px;
    position: relative;
    left: -10px;
    font-size: 20px;
}

.column3 a:hover {
    color: #0e6eb8;
}

.column3 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color:#0e6eb8;
    display: block;
}

.column3 .fa-envelope {
    font-size: 20px;
    color: #f8faf9;
    position: relative;
    left: 5px;
    margin-bottom: 18px;
}

.column3 .fa-whatsapp {
    margin-left: 5px;
}

.column3 .fa-whatsapp::before {
    position: relative;
    left: -5px;
}

.column3 h5 {
    font-size: 16px;
    padding: 0px;
    margin: 15px 0px 10px 0px;
}

@media (max-width:500px) {
    footer [class*="column"] {
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
        margin-top: 10px;
    }

    .column1 p,
    .column2 a, 
    .column3 .fa-envelope {
    font-size: 16px;
    }
}

/*******************copyright************/

.copyright {
    width: 100%;
    background-color: #222;
}

.copyright .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signature2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.signature2 a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

@media (max-width:500px) {
    .copyright [class*="signature"] {
        width: 100%;
        text-align: center;
    }

    .copyright .signature1 {
        margin: 0px;
    }

    .copyrigth p {
        margin: 0px;
        padding: 0px;
    }

    .copyright .signature2 {
        justify-content: center;
        padding-bottom: 10px;
    }
}

/****************Globos*****************/

.globos .fa-whatsapp {
    font-size: 33px;
    color: #fff;
    background: #4AC959;
    text-decoration: none;
    padding: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: 5%;
    transition: all 0.5s;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 1px 1px;
    display: none;
}

.globos .fa-whatsapp:hover {
    transform: scale(1.1);
}

@media (max-width:500px){
    
    .globos .fa-whatsapp {
        display:block;
    }
    
    #fb-root {
        display: none;
    }
}