@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/**********************Header********************/
header {
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    box-shadow: 0px 2px 2px #ccc;
}

header .contenedor {
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-between;
    height: 65px;
}

.title {
    display: flex;
    align-items: center;
}

.title .logo {
    max-width: 40px;
    max-height: 100%;
    padding: 5px;
}

.pre-header {    
    width: 100%;
    height: 35px;
    background-color: #0e6eb8;
}

.contact {
    width: 98%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail {
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

.fa-envelope {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif
}

.fa-envelope:before {
    position: relative;
    top: 2px;
    left: -6px;
}

.sociales a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    transition: all 0.3s;
}

.sociales a:hover {
    color: #7f7d8e;
/*    color: #ccc;*/
}

.menu-container .fa-bars {
    color: #0e6eb8;
    border: solid 1px #0e6eb8;
    border-radius: 5px;
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: relative;
    top: 13px;
}

.menu {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: #0e6eb8;
    transition: all 0.7s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    height: 20px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
}

.title h1 {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    font-size: 24px;
    display: flex;
    position: relative;
    font-family: 'Gabriela', serif;
    font-style: italic;
    color: #0e6eb8;
    left: -10px;
}

#btn-menu {
    display: none;
}


#btn-menu:checked ~ .menu {
    transform: translateX(0%);
}


@media (min-width:1000px) {
    header .contenedor {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sociales {
        max-width: 1200px;
    }
    
    .sociales .fa-twitter {
        margin-left: 23px;
    }
    
    .sociales .fa-instagram {
        margin-left: 23px;
    }
    
    .sociales .fa-youtube {
        margin-left: 23px;
    }
    .mail {
        display: block;
    }
    
    .contact {
        color: #fff;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .menu-container .menu {
        transform: translateX(0%);
        height: auto;
        width: auto;
        position: static;
        display: flex;
        background-color: #fff;
        align-items: center;
    }
    
    .menu a {
        border: none;
        color: #0e6eb8;
        transition: all 0.2s linear;
        height: auto;
        padding: 14px 0px;
        margin-left: 25px;
    }
    
    .menu a::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(14, 110, 184, 0.8);
        transition: all 0.2s linear;
        opacity: 0;
    }
    
    .menu a:hover::after {
        opacity: 1;
    }
    
    .menu a:hover {
        transform: scale(1.1);
    }
    
    .menu-container .fa-bars {
        display: none;
    }
}

/***********************Main******************/

main {
    background: #fff;
    width: 100%;
    min-height: 52.6vh;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
}

.container-all {
    padding: 20px 0px;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

.container-all > h3 {
    text-align: center;
    font-size: 35px;
    color: #0e6eb8;
    font-weight: bold;
}

.contact-wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.contact-wrapper > * {
    padding: 15px;
}

.contact-form form p {
    margin: 0;
    padding: 10px;
}

.contact-form form .block {
    grid-column: 1 / 3;
    width: 100%;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1.2px solid #0e6eb8;
    outline: none;
}

.contact-form form button {
    background-color: #0e6eb8;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    position: relative;
    left: -5px;
}
.contact-info {
    color: #fff;
    background-color:#0e6eb8;
}

.contact-info h3,
.contact-info li,
.contact-info p {
    text-align: center;
    margin: 25px 0px;
    display: block;
}

.contact-info h3 {
    font-size: 30px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info [class*='fas']:before {
    position: relative;
    left: -5px;
}

.contact-info .fa-map-marker-alt {
    line-height: 20px;
}

.contact-info .signature-mini {
    font-size: 14px;
}

@media (min-width:500px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .contact-wrapper > * {
        padding: 55px;
    }
    
    .contact-form form input {
        width: 90%;
    }

    .contact-form form textarea {
        width: 89%;
    }

    .contact-form form button {
        width: 91.5%;
    }
}

@media (max-width:500px) {
 .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}
/*********************Footer*******************/

footer {
    margin-top: 20px;
    width: 100%;
    background-color: #333;
    color: #f8faf9;
    font-family: 'Lato', sans-serif;
}

footer .container-all {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}

footer [class*="column"] {
    width: 27%;
    margin: 30px 0px;
}

footer h4 {
    font-size: 20px;
}

.column1 p {
    font-size: 18px;
    max-width: 90%;
}

.column1 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color: #0e6eb8;
    display: block;
}

.column2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column2 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color: #0e6eb8;
    display: block;
}

.column2 li {
    margin-bottom: 10px;
}

.column2 a {
    color: #f8faf9;
    text-decoration: none;
    font-size: 18px;
}

.column3 {
    display: flex;
    flex-direction: column;
}

.column3 a {
    color: #f8faf9;
    text-decoration: none;    
    margin-right: 10px;
    padding: 10px;
    position: relative;
    left: -10px;
    font-size: 20px;
}

.column3 a:hover {
    color: #0e6eb8;
}

.column3 h4::after {
    content: '';
    position: relative;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color:#0e6eb8;
    display: block;
}

.column3 .fa-envelope {
    color: #f8faf9;
    position: relative;
    left: 5px;
    font-size: 20px;
    margin-bottom: 18px;
}

.column3 .fa-whatsapp {
    margin-left: 5px;
}

.column3 .fa-whatsapp::before {
    position: relative;
    left: -5px;
}

.column3 h5 {
    font-size: 16px;
    padding: 0px;
    margin: 15px 0px 10px 0px;
}

@media (max-width:500px) {
    footer [class*="column"] {
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
        margin-top: 10px;
    }

    .column1 p,
    .column2 a, 
    .column3 .fa-envelope {
    font-size: 16px;
    }
}

/*******************copyright************/

.copyright {
    width: 100%;
    background-color: #222;
}

.copyright .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signature2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.signature2 a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

@media (max-width:500px) {
    .copyright [class*="signature"] {
        width: 100%;
        text-align: center;
    }

    .copyright .signature1 {
        margin: 0px;
    }

    .copyrigth p {
        margin: 0px;
        padding: 0px;
    }

    .copyright .signature2 {
        justify-content: center;
        padding-bottom: 10px;
    }
}

/****************Globos*****************/
.globos .fa-whatsapp {
    font-size: 33px;
    color: #fff;
    background: #4AC959;
    text-decoration: none;
    padding: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: 5%;
    transition: all 0.5s;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 1px 1px;
    z-index: 500;
}    

.globos {
    display: none;
}

.globos .fa-whatsapp:hover {
    transform: scale(1.1);
}

@media (max-width:500px) {
    #fb-root {
        display: none;
    }
    
    .globos {
        display: block;
    }
}